@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  color: rgb(64, 64, 64);
  --size: 148px;
  --col1: #e5f2ff;
  --col2: #fafafa;

  --grad: var(--col1) 0% 5%, var(--col2) 6% 15%, var(--col1) 16% 25%,
    var(--col2) 26% 35%, var(--col1) 36% 45%, var(--col2) 46% 55%,
    var(--col1) 56% 65%, var(--col2) 66% 75%, var(--col1) 76% 85%,
    var(--col2) 86% 95%, #0000 96%;
  background: radial-gradient(50% 50% at 100% 0, var(--grad)),
    radial-gradient(50% 50% at 0 100%, var(--grad)),
    radial-gradient(50% 50%, var(--grad)),
    radial-gradient(50% 50%, var(--grad)) calc(var(--size) / 2)
      calc(var(--size) / 2) var(--col1);
  background-size: var(--size) var(--size);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: "Zilla Slab";
  font-size: 32px;
  color: #7e99ba;
  text-decoration: underline 2px wavy #7e99ba;
  text-underline-offset: 0.25em;
  cursor: pointer;
  text-align: center;
}

.tv-guide {
  width: 85%;
  border: 2px solid #7e99ba;
  box-shadow: 8px 8px 0px 0px #7e99ba;
  /* margin: 20px; */
  cursor: default;
  display: flex;
  max-width: 1400px;
}

.scroll-wrapper {
  overflow: scroll;
  scrollbar-width: none;
}

.scroll-wrapper::-webkit-scrollbar {
  display: none;
}

.timeline {
  width: 150vw;   /*causes problems al larger widths when calcualting spot width*/
  display: flex;
  justify-content: end;
  background-color: white;
  height: 54px;
  /* border-bottom: 2px solid #7e99ba; */
}

.hour {
  display: inline-block;
  width: 20%;
  margin: 10px 0px 10px 15px;
  padding-top: 10px;
  background-color: white;
  color: #babcbd;
  border-right: 2px dotted #babcbd;
}

.hour:last-of-type {
  border-right: none;
}

.channels-sidebar {
  background-color: white;
  padding: 0px 15px;
  padding-top: 54px;
  display: flex;
  flex-direction: column;
  /* border-right: 2px dotted #babcbd; */
}

.channel {
  height: 64px;
  width: 64px;
  object-fit: scale-down;
  align-self: center;
  /* border-bottom: 1px solid black; */
}

.content {
  background-color: white;
}

.content {
  width: 150vw;
  height: calc(100% - 54px); /*try something else*/
  background-color: white;
}

.row {
  display: flex;
  align-items: center;
  height: 64px;
  border-top: 2px dotted #babcbd;
  /* border-width: 1px 0px; */
}

.slot {
  width: 9%; /* calc(600/60) 60 is length of time in minutes*/
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 2px dotted #babcbd;
  /* border-right: 0px; */
  /* border-width: 2px 0px 2px 0px; */
  cursor: pointer;
  transition: color 100ms ease-in-out;
}

.slot:hover {
  color: #7e99ba;
}

.slot-title {
  font-weight: 700;
  line-height: 16px;
  padding-left: 4px;
}

.slot-start-time {
  font-weight: 200;
  font-size: 14px;
  padding-left: 4px;
}

#content-title2 {
  width: 18%;
}

#content-title3 {
  width: 25%;
}

#content-title4 {
  width: 6%;
}
