.card {
  margin-top: 1em;
  max-width: 400px;
  border: 3px solid var(--hg);
  box-shadow: 9px 10px 0px 0px var(--hg);
  cursor: default;
  background-color: var(--bgcol2);
  padding: 25px;
  position: absolute;
  transition: transform 65ms ease-in-out;
}

.card:hover {
  transform: translateY(-0.5rem);
  transform: scale(1.1);
}

.card-title {
  font-family: "Zilla Slab";
  font-size: 1.4em;
  color: var(--hg);
  margin: 0px;
  position: relative;
}

.rerun::after {
  content: "rerun";
  position: absolute;
  color: var(--fg2);
  border: 2px solid var(--fg2);
  border-radius: 15px;
  padding: 0.2em 0.4em;
  margin-left: 1em;
  font-size: 12px;
}

.card-time {
  margin: 0px;
  font-weight: 200;
  font-size: 14px;
}

.card-categories {
  display: flex;
  gap: 1em;
  margin: 0px;
}

.category {
  margin: 0px;
  color: var(--hg);
  opacity: 0.75;
  text-decoration: underline;
  text-decoration-thickness: 1.2px;
  text-underline-offset: 0.3em;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 0.7em;
}

.list-items p {
  margin: 0px;
}

.watchlist-item {
  text-decoration: underline;
  cursor: pointer;
}

.watchlist-item:hover {
  color: var(--hg);
}

.stars {
  color: var(--hg);
  cursor: pointer;
  margin-bottom: 1em;
}

.x-wrapper {
  display: block;
  text-align: right;
}

.fa-solid {
  cursor: pointer;
}
