#tv-guide {
  width: 85%;
  border: 3px solid var(--hg);
  box-shadow: 9px 10px 0px 0px var(--hg);
  cursor: default;
  display: flex;
  max-width: 1400px;
}

.scroll-wrapper {
  overflow: scroll;
  scrollbar-width: none;
}

.scroll-wrapper::-webkit-scrollbar {
  display: none;
}

.timeline {
  width: 150vw; /*causes problems al larger widths when calcualting spot width*/
  display: flex;
  justify-content: end;
  background-color: var(--bgcol2);
  height: 54px;
}

.hour {
  display: inline-block;
  width: 20%;
  margin: 10px 0px 10px 15px;
  padding-top: 10px;
  background-color: var(--bgcol2);
  color: var(--fg2);
  border-right: 2px dotted var(--fg2);
}

.hour:last-of-type {
  border-right: none;
}

.channels-sidebar {
  background-color: var(--bgcol2);
  padding: 0px 15px;
  padding-top: 54px;
  display: flex;
  flex-direction: column;
}

.channel {
  height: 64px;
  width: 64px;
  object-fit: scale-down;
  align-self: center;
}

.content {
  width: 150vw;
  height: calc(100% - 54px); /*try using something else*/
  background-color: var(--bgcol1);
}

.row {
  display: flex;
  align-items: center;
  height: 64px;
  /* border-top: 2px dotted var(--fg2); */
}

.row:nth-child(2n) {
  background-color: var(--bgcol2);
}

.slot {
  width: 9%; /* this is caluclated in js*/
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 2px dotted var(--fg2);
  cursor: pointer;
  transition: color 65ms ease-in-out;
}

.slot:hover {
  color: var(--hg);
}

.slot.filtered {
  color: var(--fg2);
}

.slot-title,
.slot-start-time {
  font-weight: 700;
  line-height: 20px;
  padding-left: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.slot-start-time {
  font-weight: 200;
  font-size: 14px;
}

.card {
  max-width: 400px;
  border: 3px solid var(--hg);
  box-shadow: 9px 10px 0px 0px var(--hg);
  cursor: default;
  background-color: var(--bgcol2);
  padding: 25px;
  position: absolute;
}

.card-title {
  font-family: "Zilla Slab";
  font-size: 1.4em;
  color: var(--hg);
  margin: 0px;
  position: relative;
}

.rerun::after {
  content: "rerun";
  position: absolute;
  color: var(--fg2);
  border: 2px solid var(--fg2);
  border-radius: 15px;
  padding: 0.2em 0.4em;
  margin-left: 1em;
  font-size: 12px;
}

.card-time {
  margin: 0px;
  font-weight: 200;
  font-size: 14px;
}

.card-categories {
  display: flex;
  gap: 1em;
  margin: 0px;
}

.category {
  margin: 0px;
  /* font-style: italic; */
  color: var(--hg);
  opacity: 0.75;
  text-decoration: underline;
  text-decoration-thickness: 1.2px;
  text-underline-offset: 0.3em;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 0.7em;
}

.list-items p {
  margin: 0px;
}

.watchlist-item {
  text-decoration: underline;
  cursor: pointer;
}

.watchlist-item:hover {
  color: var(--hg);
}

.stars {
  color: var(--hg);
  cursor: pointer;
  margin-bottom: 1em;
}

.x-wrapper {
  display: block;
  text-align: right;
}

.fa-solid {
  cursor: pointer;
}

.buttons {
  display: flex;
  height: 150%;
  align-items: center;
  margin-top: 2em;
}

button {
  background: var(--bgcol2);
  color: var(--hg);
  border: 2px solid var(--hg);
  box-shadow: 4px 4px 0px 0px var(--hg);
  padding: 0.75em;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  transition: font-size 35ms ease-in-out;
  margin-right: 1em;
}

button:hover {
  font-size: 19px;
}

button:active {
  transform: translate(4px, 4px);
  box-shadow: none;
}

.filters {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
}

.genre-filter {
  display: block;
  margin-right: 0.5em;
}

.star-filters {
  cursor: pointer;
}
