#tv-guide {
  width: 85%;
  border: 3px solid var(--hg);
  box-shadow: 9px 10px 0px 0px var(--hg);
  cursor: default;
  display: flex;
  max-width: 1400px;
}

.scroll-wrapper {
  overflow: scroll;
  scrollbar-width: none;
}

.scroll-wrapper::-webkit-scrollbar {
  display: none;
}

.timeline {
  width: 150vw; /*causes problems al larger widths when calcualting spot width*/
  display: flex;
  justify-content: end;
  background-color: var(--bgcol2);
  height: 54px;
}

.hour {
  display: inline-block;
  width: 20%;
  margin: 10px 0px 10px 15px;
  padding-top: 10px;
  background-color: var(--bgcol2);
  color: var(--fg2);
  border-right: 2px dotted var(--fg2);
}

.hour:last-of-type {
  border-right: none;
}

.channels-sidebar {
  background-color: var(--bgcol2);
  padding: 0px 15px;
  padding-top: 54px;
  display: flex;
  flex-direction: column;
}

.channel {
  height: 64px;
  width: 64px;
  object-fit: scale-down;
  align-self: center;
}

.content {
  width: 150vw;
  height: calc(100% - 54px);
  background-color: var(--bgcol1);
}

.row {
  display: flex;
  align-items: center;
  height: 64px;
  /* border-top: 2px dotted var(--fg2); */
}

.row:nth-child(2n) {
  background-color: var(--bgcol2);
}

.slot {
  width: 9%; /* default value but this is calulated later*/
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 2px dotted var(--fg2);
  cursor: pointer;
  transition: color 65ms ease-in-out;
}

.slot:hover {
  color: var(--hg);
  min-width: max-content;
  padding-right: 5px;
}

.slot.filtered {
  color: var(--fg2);
}

.slot-title,
.slot-start-time {
  font-weight: 700;
  line-height: 20px;
  padding-left: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.slot-start-time {
  font-weight: 200;
  font-size: 14px;
}

.buttons {
  display: flex;
  height: 150%;
  align-items: center;
  margin-top: 2em;
}
